NEXT_PUBLIC_BASE_API_URL=https://sachnet.thewarriors.team/api


NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCRpQYEHzXWzuG6zMwKOQiPemxVLlJLJ6E
NEXT_PUBLIC_AUTH_DOMAIN=metricas-e145c.firebaseapp.com
NEXT_PUBLIC_PROJECT_ID=metricas-e145c
NEXT_PUBLIC_STORAGE_BUCKET=metricas-e145c.firebasestorage.app
NEXT_PUBLIC_MESSAGING_SENDER_ID=279960900846
NEXT_PUBLIC_MESSAGING_SENDER_ID=1:279960900846:web:cb9b023bfbd98066438fff